{% load custom_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div class="search" id="search">
        <div class="search-container">
            {% comment %} 이미지 출력 섹션 {% endcomment %}
            <div class="overlap">
                <div class="rectangle"></div>
                <div class="group">

                    <div class="options">
                        <div class="popular">Popular</div>
                        <div class="discussed">Discussed</div>
                        <div class="recent">Recent</div>
                    </div>

                    <div id="img_component_wrapper">
                        {% for row in response %}
                            <div id="component_{{ forloop.counter }}">
                                <img class="img" src="{% static 'img/group-3.png' %}" />
                                {% if row.ImageFileName %}
                                    <img class="img-2" src="{% static 'img/painting/' %}{{ row.ImageFileName }}.jpg" alt="{{ row.ArtTitle_kor }}" />
                                {% endif %}
                                <p class="text-wrapper-4">{{ row.ArtTitle_kor }}</p>
                                <div class="text-wrapper-5">{{ row.ArtistName_kor }}</div>
                            </div>
                        {% endfor %}
                    </div>                    
                    
                    {% comment %} mysql의 바이너리 데이터를 읽어와서 디코딩 해서 출력하는 html {% endcomment %}
                    {% comment %} <div id="img_component_wrapper">
                        {% for row in response %}
                            <div id="component_{{ forloop.counter }}">
                                <img class="img" src="{% static 'img/group-3.png' %}" />
                                {% if row.Image %}
                                    {% with row.Image|b64encode as encoded_image %}
                                        <img class="img-2" src="data:image/jpeg;base64,{{ encoded_image }}" />
                                    {% endwith %}
                                {% endif %}
                                <p class="text-wrapper-4">{{ row.ArtTitle_kor }}</p>
                                <div class="text-wrapper-5">{{ row.ArtistName_kor }}</div>
                            </div>
                        {% endfor %}
                    </div> {% endcomment %}


                </div>
                <div class="hot" id="hot">HOT</div>
            </div>

            {% comment %} 검색 바 {% endcomment %}
            <div class="overlap-group-wrapper">
                <form action="{% url 'client_request' %}" method="post" class="overlap-group">
                    <div class="search-button">
                        <button type="submit" class="text-wrapper-6">SEARCH</button>
                    </div>
                    
                    {% comment %} <div class="search-whatever-you-wrapper" id="search-whatever-you-wrapper">
                        <p class="search-whatever-you">
                            <span class="span">Search whatever you wan</span>
                            <span class="text-wrapper-7">t...</span>
                        </p>
                    </div> {% endcomment %}
                    {% csrf_token %}
                    <div class="search-input-wrapper">
                        <input type="text" name="input_text" class="search-input" placeholder="Search whatever..." />
                    </div>
                </form>
            </div>

            <p class="search-IT"><span class="text-wrapper-8">Search.</span> <span class="text-wrapper-9">ART</span></p>

            <div class="group-7" id="group-7">
                <div class="frame-2" id="frame-2">
                    <img class="img-3" src="{% static 'img/user.svg' %}" />
                    <div class="login">LOGIN</div>
                </div>
                <div class="text-wrapper-10">Write a sentence about the work of art you want to find!</div>
                <div class="frame-3" id="frame-3">
                    <img class="img-3" src="{% static 'img/settings.svg' %}" />
                    <div class="login">LOGIN</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
